<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="container">
    <h1>Welcome to Shop</h1>
    <a href="{{ url_for('buy') }}" class="btn">Buy</a>
    <br>
    <a href="{{ url_for('review') }}" class="btn">Review</a>
    <br>
    <a href="{{ url_for('about') }}" class="btn">About us</a>
    <br>
    <a href="{{ url_for('admin') }}" class="btn">For ADMINS</a>
    <br>
    <a href="{{ url_for('more') }}" class="btn">MORE ITEMS ====>>></a>
</div>
</body>
</html>